<!DOCTYPE html>
<html>
<header>
<script src="/socket.io/socket.io.js"></script>
</header>

<body>
<label for="">
Message : 
</label>
<input type="text" id="msg" onkeyup="typing()">
<input type="submit" onClick="send()">

</body>

<script>
//connected
const socket=io.connect()
name=prompt("userne name : ")

socket.on("msg",(data)=>{
    p=document.createElement("p")
    p.innerText=data
    document.body.append(p)

})



//envoyer msg avec submit
socket.on("msgname",(data)=>{
    p=document.createElement("p")
    p.innerText=(data.name+":"+data.msg)
    document.body.append(p)

})
//typing
socket.on("typing",(data)=>{
    p=document.createElement("p")
    p.innerText=data
    document.body.append(p)

})
x=document.getElementById("msg")
function send()
{
    socket.emit("msgname",{name:name,msg:x.value})
}


function typing()
{
    socket.emit("typing","is typing ... ")

}

</script>


</html>